/* ----------------------------------------------------------UNIVERSALLY APPLICABLE & GLOBAL VARIABLES------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    color: #000;
    background-color: #fff;
    transition: 0.8s;
}

/* --------------------------------------------------------------------HOME SECTION ------------------------------------------------------------------------- */

.home-banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://i.ibb.co/drVK8sV/introduce-pic.png);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.home-navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.home-logo a {
    text-decoration: none;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;

}

.home-navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;

}

.home-navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.home-navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.home-navbar ul li:hover::after {
    width: 100%;

}

.home-navbar-links {
    font-size: 15px;
}

.home-navbar-links-drp {
    font-size: 15px;
}

.btns-of-banner {
    font-size: 15px;
    display: inline;
}

.home-content {
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
    color: white;
    align-items: center;


}

.home-content h1 {
    position: relative;
    font-size: 70px;
    margin-top: 80px;
    font-weight: 300;
    display: inline-block;

}

.home-content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.home-content button {
    width: 200px;
    /*width of button */
    padding: 15px 0;
    /*padding of the text of button */
    font-weight: bold;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.home-content span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

.home-navbar-toggle-btn {
    font-size: 40px;
    color: aliceblue;
    font-weight: 400;
    display: none;
}

.home-navbar-toggle-btn1 {
    font-size: 40px;
    color: inherit;
    font-weight: 400;
    display: none;
}

.home-dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    width: 300px;
    height: 0;
    background: rgba(225, 225, 225, 225, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s;
}

.home-dropdown-menu1 {
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 300px;
    height: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s;
    font-size: 24px;
}

.home-dropdown-menu.open {
    height: 180px;
    z-index: 100000;
}

.home-dropdown-menu1.open {
    height: 230px;
    z-index: 100000;
}

.home-dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-dropdown-menu1 li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-dropdown-menu a {
    text-decoration: none;
    color: aliceblue;

}

.home-dropdown-menu1 a {
    text-decoration: none;
    color: aliceblue;

}

@media(max-width:990px) {
    .home-navbar-links {
        display: none;
    }

    .home-navbar-toggle-btn {
        display: block;
    }

    .home-navbar-toggle-btn1 {
        display: block;
    }

    .home-dropdown-menu {
        display: block;
    }

    .home-dropdown-menu1 {
        display: block;
    }
}


.i-with-circle .circle-i {
    top: 50px;
    display: inline-block;
    z-index: 10000;
    position: absolute;
    width: 130px;
    height: 130px;
    border: 2px solid black;
    border-radius: 50%;
    opacity: 0.5;
    margin-top: 0px;
    margin-left: 18px;
    animation: circle-contract;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: aliceblue;

}

@keyframes circle-contract {
    0% {
        margin-left: 18px;
        margin-top: 0;
        background-color: aliceblue;
    }

    10% {
        margin-left: 18px;
        margin-top: 0;
        background-color: aliceblue;
    }

    20% {
        margin-left: 18px;
        margin-top: 0;
        background-color: aliceblue;
    }

    30% {
        margin-left: 18px;
        margin-top: 0;
        background-color: aliceblue;
    }

    40% {
        margin-left: 18px;
        margin-top: 0;
        background-color: aliceblue;
    }

    50% {
        margin-left: 18px;
        margin-top: 0;
        background-color: aliceblue;
    }

    60% {
        margin-left: 18px;
        margin-top: 0;
        background-color: aliceblue;
    }

    80% {
        margin-left: 18px;
        margin-top: 0;
        background-color: aliceblue;
    }

    85% {
        margin-left: 18px;
        margin-top: 0;
        background-color: aliceblue;
    }

    90% {
        margin-left: -230px;
        margin-top: -20px;
        background-color: aliceblue;
    }

    100% {
        margin-left: -230px;
        width: 35px;
        height: 35px;
        background-color: aliceblue;
    }
}

@media(max-width:576px) {
    .home-dropdown-menu {
        width: unset;
        left: 2rem;
    }

    .home-dropdown-menu1 {
        width: unset;
        left: 2rem;
    }
}

@media(max-width:467px) {

    .home-content h1 {
        font-size: 35px;
        margin-top: 80px;
    }

    .home-content p {
        margin: 20px auto;
        font-weight: 80;
        line-height: 25px;
    }

    .home-logo a {

        font-size: 25px;
        font-weight: 500;



    }

    .i-with-circle .circle-i {
        width: 73px;
        height: 73px;
        margin-top: 5px;
        margin-left: 4px;
    }

    @keyframes circle-contract {
        0% {

            margin-left: 4px;
            margin-top: 5px;
            background-color: aliceblue;
        }

        10% {

            margin-left: 4px;
            margin-top: 5px;
            background-color: aliceblue;
        }

        20% {

            margin-left: 4px;
            margin-top: 5px;
            background-color: aliceblue;
        }

        30% {

            margin-left: 4px;
            margin-top: 5px;
            background-color: aliceblue;
        }

        40% {

            margin-left: 4px;
            margin-top: 5px;
            background-color: aliceblue;
        }

        50% {

            margin-left: 4px;
            margin-top: 5px;
            background-color: aliceblue;
        }

        60% {

            margin-left: 4px;
            margin-top: 5px;
            background-color: aliceblue;
        }

        80% {

            margin-left: 4px;
            margin-top: 5px;
            background-color: aliceblue;
        }

        85% {

            margin-left: 4px;
            margin-top: 5px;
            background-color: aliceblue;
        }

        90% {

            margin-left: -20px;
            margin-top: -20px;
            background-color: aliceblue;
        }

        100% {

            margin-left: -115px;
            margin-top: 18px;
            width: 15px;
            height: 15px;
            background-color: aliceblue;
        }
    }

}

.animate-cont-logo .animate-logo {
    opacity: 0;
    filter: blur(5px);
    transition: 1.5s;
}

.animate-cont-logo.show-logo .animate-logo {
    opacity: 1;
    filter: blur(0);

}

/* -------------------------------------------------------------------- COMMON NAVBAR ------------------------------------------------------------------ */

#myHeader {
    z-index: 100;
}

.header {

    background: #fff;
    height: 100px;
}

#myHeader .home-logo a {
    color: inherit;
}

#myHeader .home-navbar-toggle-btn1 i {
    color: inherit;
}

#myHeader .home-navbar-links li a {
    color: inherit;
    font-weight: 700;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

section {
    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;
    background-color: #fff;
}

section .animate {
    opacity: 0;
    filter: blur(5px);
    transition: 1s;

}

section.show-animate .animate {
    opacity: 1;
    filter: blur(0);
    transition: 1s;

}

.sec-1 .animate {
    transform: translateX(-100%);

}


.sec-1.show-animate .animate {
    transform: translateX(0);
}


/* -------------------------------------------------------------------- TEMPLATES SECTION -------------------------------------------------------------- */


html {
    font-size: calc(100vw / 1728 * 10);
}

.templates-section {
    top: 50%;
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: white; */

}

.templates-section img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

[data-hidden] {
    opacity: 0;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.templates-section .container {
    max-width: 156.6rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

.templates-section h1,
h2 {
    font-size: 16rem;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1;
}

.templates-section p {
    font-size: 4.8rem;
    letter-spacing: -0.03em;
    line-height: 1.5;
}

.hero {
    display: grid;
    place-items: center;
    height: 129.8rem;
    background-color: white;
    transition: 0.8s;
}

.hero__title {
    text-align: center;
    max-width: 10ch;
    z-index: 2;
    mix-blend-mode: difference;
    color: white;
}

.hero__title div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    position: absolute;
}

.hero img:nth-child(1) {
    width: 37.4rem;
    height: 56.1rem;
    top: 579px;
    left: 8rem;
}

.hero img:nth-child(2) {
    width: 24.1rem;
    height: 6.6rem;
    top: 0;
    left: 61.1rem;
}

.hero img:nth-child(3) {
    width: 35.1rem;
    height: 23.4rem;
    top: 0;
    right: 8rem;
}

.hero img:nth-child(4) {
    width: 37.4rem;
    height: 55.9rem;
    top: 16.8rem;
    right: 47.8rem;
}

.hero img:nth-child(5) {
    width: 35.1rem;
    height: 23.4rem;
    top: 65.9rem;
    left: 47.8rem;
}

.hero img:nth-child(6) {
    width: 24.1rem;
    height: 36.1rem;
    top: 93.7rem;
    left: 52.3rem;
}

.hero img:nth-child(7) {
    width: 63.9rem;
    height: 42.5rem;
    top: 81.5rem;
    right: 8rem;
}

.hero img:nth-child(8) {
    width: 37.4rem;
    height: 56.1rem;
    top: 0;
    left: 8rem;
}




p {
    font-size: 20px;
}

@media screen and (max-width: 768px) {


    .hero {
        display: grid;
        place-items: center;
        height: 600.8rem;
        background-color: white;
    }


    .hero img {
        scale: 1.5;
    }

    .hero img:nth-child(1) {
        top: 94px;
        left: 8rem;
    }


    .hero img:nth-child(2) {
        top: 0;
        left: 61.1rem;
    }

    .hero img:nth-child(3) {
        top: 0;
        right: 8rem;
    }

    .hero img:nth-child(4) {
        top: 89.8rem;
        right: 25.8rem;
    }

    .hero img:nth-child(5) {
        top: 147.9rem;
        left: 47.8rem;
    }

    .hero img:nth-child(6) {
        top: 171.7rem;
        left: 21.3rem;
    }

    .hero img:nth-child(7) {
        top: 226.5rem;
        right: 8rem;
    }

    .hero img:nth-child(8) {
        top: 606px;
        left: 8rem;
    }
}

/*----------------------------------------------------------------PLANS-----------------------------------------------------------------------------*/
.plans-wrapper {
    width: 98vw;
    margin: auto;
    margin-top: 800px;
    align-items: center;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.plans-parent {
    height: 70vh;
    margin: 5px;
    width: 37%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    /* background-color: black; */
    transition: 0.4s;
}

.plans-child {
    height: 100%;
    background-size: cover;
    width: 100%;
    transition: 1s all;
    /* background-color: black; */
}

.bg-one {

    background-image: url(https://i.ibb.co/0h7tkTq/hispanic-female-executive-gesturing-copy-space-while-making-eye-contact-studio.jpg);
    background-repeat: no-repeat;
    scale: 1.5;
}

.bg-two {

    background-image: url(https://i.ibb.co/mCLLGgT/christina-wocintechchat-com-0-Zx1b-Dv5-BNY-unsplash.jpg);
    background-repeat: no-repeat;
    scale: 1.5;
}

.bg-three {

    background-image: url(https://i.ibb.co/58HKN94/hunters-race-MYbh-N8-Kaa-Ec-unsplash.jpg);
    background-repeat: no-repeat;
    scale: 1.5;
}

.plans-parent:hover .plans-child {
    transform: scale(0.8);
    /* opacity: 0.6; */
}

.plans-parent:hover {
    scale: 1.03;
}

.content-rev {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content-rev:hover {
    opacity: 1;
}

.content-rev h1 {
    font-size: 20px;
    color: #ffe100;
    margin-bottom: 15px;
    letter-spacing: -0.05em;
    word-spacing: -0.03em;
}

.content-rev p {
    font-size: 15px;
    color: #fff;
    letter-spacing: -0.05em;
    word-spacing: -0.03em;
}

.content-rev>* {
    transform: translateY(25px);
    transition: transform 0.6s;
}

.content-rev:hover>* {
    transform: translateY(0px);
}

/*----------------------------------------------------------------DARK-MODE-----------------------------------------------------------------------------*/
body.DarkMode {
    background-color: #121212;
    color: white;
    transition: 0.7s;
}

.hero.DarkMode {
    background-color: #121212;
    color: white;
    transition: 0.7s;
}

.header.DarkMode {

    background-color: #121212;
    height: 100px;
    transition: 0.7s;
}

/*----------------------------------------------------------------MODAL----------------------------------------------------------------------------------*/

.my-modal {


    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: -50%;
    z-index: 500;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 3px #121212;
    border-radius: 16px;
    transition: 1s;
    align-items: center;
}

.my-modal-down {
    top: 50%;
}

.home-banner-blur{
    filter: blur(5px);
}

.Modal-Close
{
    float: right;
    position: absolute;
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    transform: translateY(-472px);
    margin-left: 94%;
    background-color: #ccc;
    border-radius:   0% 16px 0% 50%;

}
.close-modal-box
{
    background-color: #ccc;
}

@media screen and (max-width:768px)
{
 .Modal-image img
 {
    height: 200px;
    width: 300px;
 }
 .Modal-Close
{
    float: right;
    position: absolute;
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    transform: translateY(-200px);
    margin-left: 87%;
    background-color: #ccc;
    border-radius:   0% 16px 0% 50%;

}
}